@{
    ViewData["title"] = "Startsidan";
}

<div class="title">
    <h1>Gunpla-kit</h1>
</div>

<div class="gunpla-intro">
    <div class="intro">
        <p>
            Gunpla är det vanliga namnet för plastmodeller av mobildräkter, mobilpansar och andra robotar eller
            slagskepp som förekommer i serien "Mobile Suit GUNDAM"
        </p>
    </div>
</div>

<div class="gunpla-intro">
    <div class="formatintro">
        <h2>High Grade</h2>
        <p>
            High Grade i skalan 1/144 är det den äldsta produktlinjen, den startades 1990. Det är också den
            största, i fråga om utbud, och kanske den mest populära linjen Gunplas.
        </p>
        <br>
        <p>
            High Grade är ofta lite billigare kit. De är roliga och enkla byggen, som kanske känns mer
            avslappnade än de avancerade linjerna.</p>
        <br>
        <p>
            Eftersom de är gedigna och inte har speciellt många små delar är dessa kit lämpliga för nybörjare.
        </p>
    </div>

    <picture class="formaticon hg">
        <source srcset="img/format-hg.webp" type="image/webp">
        <img src="img/format-hg.jpg" alt="Ikonen till format-high grade">
    </picture>
</div>

<div class="gunpla-intro">
    <picture class="formaticon rg-left">
        <source srcset="img/format-rg.webp" type="image/webp">
        <img src="img/format-rg.jpg" alt="Ikonen till format-real grade">
    </picture>

    <div class="formatintro right">
        <h2>Real Grade</h2>
        <p>
            Real Grade är skala 1/144, och som namnet antyder ska den vara närmre hur Mobile Suits skulle se ut
            om de byggdes i dag.
        </p>
        <br>
        <p>
            Det är en relativ ny linje som startade 2010, men de senaste åren har den verkligen tagit fart!
            Skalan (och lite av budgeten) från High Grade, avancerad ram-teknologi från Master Grade och
            detaljrikedomen från Perfect Grade kombineras här till vad som verkar vara ett vinnande koncept.
        </p>
    </div>

    <picture class="formaticon rg-right">
        <source srcset="img/format-rg.webp" type="image/webp">
        <img src="img/format-rg.jpg" alt="Ikonen till format-real grade">
    </picture>
</div>

<div class="gunpla-intro">
    <div class="formatintro">
        <h2>Entry Grade</h2>
        <p>
            Entry Gradeär en linje med Gunpla-kit i skala 1/144 av Mobile Suits från Gundam-metaserien.
        </p>
        <br>
        <p>
            EG-satser liknar First Grade eller No Grade 1/144 serie Gunpla kit, där de inte innehåller några
            polycaps och är gjutna i endast tre färger. Varje kit levereras med en separator för delar, vilket
            eliminerar behovet av ett par nippers. Artikulationen är begränsad till nacke, axlar, höfter och
            vrister; lemmar är gjutna i 1-3 delar vardera och är ihåliga på ena sidan.
        </p>
    </div>

    <picture class="formaticon eg">
        <source srcset="img/format-eg.webp" type="image/webp">
        <img src="img/format-eg.jpg" alt="Ikonen till format-entry grade">
    </picture>
</div>