@{
    ViewData["title"] = "Produkt 2";
    Layout = "_Layout2";
}

<div class="title small">
    <h1>RG Crossbone Gundam X1 1/144</h1>
</div>

<div class="display-row">
    <div class="slides">
        <!-- Slideshow container -->
        <div class="slideshow-container">

            <!-- Full-width images with number and caption text -->
            <div class="mySlides fade">
                <div class="numbertext">1 / 6</div>
                <a href="~/img/crossbone.jpg" data-lightbox="Crossbone" data-title="Crossbone Gundam">
                    <picture>
                        <source srcset="~/img/crossbone.webp" type="image/webp">
                        <img src="~/img/crossbone.jpg" alt="Bild om gundam Crossbone">
                    </picture>
                </a>
                <div class="text">Crossbone Gundam</div>
            </div>

            <div class="mySlides fade">
                <div class="numbertext">2 / 6</div>
                <a href="~/img/crossbone1.jpg" data-lightbox="Crossbone" data-title="Crossbone Gundam">
                    <picture>
                        <source srcset="~/img/crossbone1.webp" type="image/webp">
                        <img src="~/img/crossbone1.jpg" alt="Bild om gundam Crossbone">
                    </picture>
                </a>
                <div class="text">Crossbone Gundam</div>
            </div>

            <div class="mySlides fade">
                <div class="numbertext">3 / 6</div>
                <a href="~/img/crossbone2.jpg" data-lightbox="Crossbone" data-title="Crossbone Gundam">
                    <picture>
                        <source srcset="~/img/crossbone2.webp" type="image/webp">
                        <img src="~/img/crossbone2.jpg" alt="Bild om gundam Crossbone">
                    </picture>
                </a>
                <div class="text">Crossbone Gundam</div>
            </div>

            <div class="mySlides fade">
                <div class="numbertext">4 / 6</div>
                <a href="~/img/crossbone3.jpg" data-lightbox="Crossbone" data-title="Crossbone Gundam">
                    <picture>
                        <source srcset="~/img/crossbone3.webp" type="image/webp">
                        <img src="~/img/crossbone3.jpg" alt="Bild om gundam Crossbone">
                    </picture>
                </a>
                <div class="text">Crossbone Gundam</div>
            </div>

            <div class="mySlides fade">
                <div class="numbertext">5 / 6</div>
                <a href="~/img/crossbone4.jpg" data-lightbox="Crossbone" data-title="Crossbone Gundam">
                    <picture>
                        <source srcset="~/img/crossbone4.webp" type="image/webp">
                        <img src="~/img/crossbone4.jpg" alt="Bild om gundam Crossbone">
                    </picture>
                </a>
                <div class="text">Crossbone Gundam</div>
            </div>

            <div class="mySlides fade">
                <div class="numbertext">6 / 6</div>
                <a href="~/img/crossbone5.jpg" data-lightbox="Crossbone" data-title="Crossbone Gundam">
                    <picture>
                        <source srcset="~/img/crossbone5.webp" type="image/webp">
                        <img src="~/img/crossbone5.jpg" alt="Bild om gundam Crossbone">
                    </picture>
                </a>
                <div class="text">Crossbone Gundam</div>
            </div>

            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>

        <!-- The dots/circles -->
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
            <span class="dot" onclick="currentSlide(6)"></span>
        </div>
    </div>

    <div class="productinfo">
        <div class="introduction">
            <p>
                Crossbone Gundam får ett nytt RG-kit, som en del av Gundam Evolution Project! Den har förbättrad
                artikulation för RG-ramen, dess dramatiskt trasiga anti-beam mantel, buster gun, strålsköld och
                mycket mer!
            </p>
            <br>
            <p>[Inkluderar]:</p>
            <ul>
                <li>Anti-beam mantel</li>
                <li>Beam Zanber</li>
                <li>Core Fighter</li>
                <li>Buster Gun</li>
                <li>Beam Shield</li>
                <li>Saxankare (x2)</li>
                <li>Värmedolk (x2)</li>
                <li>Strålsabel (x2)</li>
                <li>Värmedolk (för fötter x2)</li>
                <li>Pilotfigur</li>
            </ul>
        </div>

        <div class="detail">
            <h2>Detaljer</h2>

            <span>Kod: BANS57617</span>

            <span>JAN-kod: 4573102576170</span>

            <span>Releasedatum: 2019/05/23</span>

            <span>Kategori: Gundam</span>

            <span>Serie: Cross Bone Gundam</span>

            <span>Artikeltyp: Real Grade Kits</span>

            <span>Tillverkare: Bandai</span>

            <span>Artikelstorlek/vikt: 31 x 19 x 8.2 cm / 430g</span>
        </div>
    </div>
</div>