@model gunpla.Models.GunplaModel;

@{
    ViewData["title"] = "Produkter";
}

<div class="title small">
    <h1>@ViewBag.guide</h1>
</div>

<div class="products">
    <section class="product">
        <picture class="formaticon hg">
            <source srcset="img/format-hg.webp" type="image/webp">
            <img src="img/format-hg.jpg" alt="Ikonen till format-high grade">
        </picture>

        <div class="product-img">
            <a asp-controller="Home" asp-action="Product1" title="länk till denna produkt">
                <picture>
                    <source srcset="img/jupitive.webp" type="image/webp">
                    <img src="img/jupitive.jpg" alt="Bild om gundam Juptiive">
                </picture>
            </a>
        </div>

        <a asp-controller="Home" asp-action="Product1">
            <h2>JUPITIVE GUNDAM</h2>
        </a>
    </section>

    <section class="product">
        <picture class="formaticon rg">
            <source srcset="img/format-rg.webp" type="image/webp">
            <img src="img/format-rg.jpg" alt="Ikonen till format-real grade">
        </picture>

        <div class="product-img">
            <a asp-controller="Home" asp-action="Product2" title="länk till denna produkt">
                <picture>
                    <source srcset="img/crossbone.webp" type="image/webp">
                    <img src="img/crossbone.jpg" alt="Bild om gundam Crossbone">
                </picture>
            </a>
        </div>

        <a asp-controller="Home" asp-action="Product2">
            <h2>CORSSBONE GUNDAM</h2>
        </a>
    </section>

    <section class="product">
        <picture class="formaticon eg">
            <source srcset="img/format-eg.webp" type="image/webp">
            <img src="img/format-eg.jpg" alt="Ikonen till format-entry grade">
        </picture>

        <div class="product-img">
            <a asp-controller="Home" asp-action="Product3" title="länk till denna produkt">
                <picture>
                    <source srcset="img/strike.webp" type="image/webp">
                    <img src="img/strike.jpg" alt="Bild om gundam Strike">
                </picture>
            </a>
        </div>

        <a asp-controller="Home" asp-action="Product3">
            <h2>CORSSBONE GUNDAM</h2>
        </a>
    </section>
</div>

<h2>Här kan man lägga model till wishlist:</h2>

<div class="wishlistinput">
    <form method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <label asp-for="Code"></label>
        <input asp-for="Code" type="text">
        <span asp-validation-for="Code"></span>
        <br>
        <label asp-for="Name"></label>
        <input asp-for="Name" type="text">
        <span asp-validation-for="Name"></span>
        <br>
        <label asp-for="Type"></label>
        <select asp-for="Type" class="form-control">
            <option value="">Choose Type</option>
            <option value="HG">High Grade</option>
            <option value="RG">Real Grade</option>
            <option value="EG">Entry Grade</option>
        </select>
        <span asp-validation-for="Type"></span>
        <br>
        <label asp-for="Serie"></label>
        <input asp-for="Serie" type="text">
        <span asp-validation-for="Serie"></span>
        <br>
        <label asp-for="Tools"></label>
        <div>
            <input type="checkbox" name="Tools" value="Knife" />
            <label>Modeling Knife</label><br>
            <input type="checkbox" name="Tools" value="Glue" />
            <label>Glue</label><br>
            <input type="checkbox" name="Tools" value="Sandpaper" />
            <label>Sandpaper</label><br>
            <input type="checkbox" name="Tools" value="Brush" />
            <label>Modeling Brush</label><br>
            <input type="checkbox" name="Tools" value="Pliers" />
            <label>Pliers</label><br>
        </div>
        <br>
        <label asp-for="IsGift"></label>
        <input asp-for="IsGift" type="checkbox">
        <br>
        <input type="submit" value="Lägg till model">
    </form>
</div>